
@{
    Layout = null;
}

 <!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")


<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")

    
    <!-- Topbar End -->


    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    <!-- Navbar End -->

    @RenderBody()
    <!-- Carousel Start -->
    <!-- Carousel End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    <!-- Footer End -->
    <!-- script Start -->
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
    <!-- script End -->


   
</body>

</html>
